<div class="right-section">
  <div class="right-top-section">
    <h3> List of Active Employees </h3>
    <div>
      <%= link_to 'Create', new_employee_path, method: :get, class: "btn btn-primary"%>
    </div>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @employees.each do |employee| %>
          <tr>
            <td><%= employee.name %></td>
            <td><%= employee.email %></td>
            <td>
              <%= link_to 'View', employee_path(employee) %>
        			<%= link_to 'Edit', edit_employee_path(employee) %>
        			<%= link_to 'Delete', employee_path(employee), remote: true, method: :delete, data: { confirm: "Are you sure want to delete?" }, class: 'color-red' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @employees %>
  </div>
</div>