<div class="nested-fields">
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="col-md-4 col-sm-4 col-xs-12 select-tag">
    <%= f.input :employee_id, collection: Employee.all, label: 'Employee', prompt: 'Select Employee', input_html: { class: 'select2' } %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12 select-tag">
    <%= f.input :assigned_as, collection: Assign.assigned_as.keys, prompt: 'Select Assigned_as', input_html: { class: 'select2' } %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12">
    <%= f.input :billing_hours, label: 'Assign Hrs' %>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-12">
    <%= link_to_remove_association fa_icon('trash 2x'), f %>
  </div>
</div>