<div class="right-section">
  <div class="right-top-section">
    <h3> List of Inactive Projects </h3>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Client Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= project.title %></td>
            <td><%= project.client_name %></td>
            <td>
              <%= link_to 'View', project_path(project) %>
              <%= link_to 'Edit', edit_project_path(project) %>
              <%= link_to 'Restore', restore_project_path(project), remote: true, method: :get, data: { confirm: "Are you sure want to restore?" }, class: 'color-red' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>