<div class="right-section">
  <div class="right-top-section">
    <h3> List of Projects </h3>
    <%= link_to 'Create', new_project_path, method: :get, class: "btn btn-primary"%>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Client Name</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= project.title %></td>
            <td><%= project.client_name %></td>
            <td><%= project.status %></td>
            <td>
              <%= link_to 'View', project_path(project) %>
        			<%= link_to 'Edit', edit_project_path(project) %>
        			<%= link_to 'Delete', project_path(project), remote: true, method: :delete, data: { confirm: "Are you sure want to delete?" }, class: 'color-red' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>