<div class="right-section">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12 show-bar">
      <div class="right-top-section">
        <h4> Project Details:</h4>
      </div>
      <ul>
        <li> Project Name: <%= @project.title %> </li>
        <li> Client Name: <%= @project.client_name %> </li>
        <li> Profile: <%= @project.profile.name %> </li>
        <li> Technologies: <%= @project.technologies.join(', ') %> </li>
        <li> Invoice Type: <%= @project.invoice_type %> </li>
        <li> Work Limit: <%= @project.work_limit %> </li>
      </ul>
    </div>

    <div class="col-md-9 col-sm-9 col-xs-12">
      <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#toggle1" role="button" aria-expanded="false" aria-controls="toggle1">Assigned User</a>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#toggle2" aria-expanded="false" aria-controls="toggle2">Add User</button>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#toggle3" aria-expanded="false" aria-controls="toggle3">Descriptions</button>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#toggle4" aria-expanded="false" aria-controls="toggle4">Credentials</button>
      </p>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="collapse multi-collapse" id="toggle1">
            <div class="card card-body">
              <% if @project.assigns.present? %>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Employee Name</th>
                      <th>Assigned As</th>
                      <th>Assigned Hrs</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @project.assigns.each do |assign| %>
                      <tr>
                        <td><%= assign.employee&.name %></td>
                        <td><%= assign.assigned_as %></td>
                        <td><%= assign.billing_hours %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% else %>
                <h3> No Record Found </h3>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="collapse multi-collapse" id="toggle2">
            <div class="card card-body">
              <%= simple_form_for @project do |f| %>
                <div class="row add-assign">
                  <div id="assigns">
                    <%= f.simple_fields_for :assigns do |form| %>
                      <%= render partial: 'assign_fields', locals: {f: form} %>
                    <% end %>
                    <div class="links text-right add-button">
                      <%= link_to_add_association 'Add', f, :assigns %>
                    </div>
                  </div>
                </div>

                <div class="text-right">
                  <%= f.submit "Save", class: 'btn btn-success' %>
                  <%= link_to 'Back', projects_path, method: :get, class: "btn btn-success"%>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="collapse multi-collapse" id="toggle3">
            <div class="card card-body">
              <ol>
                <% @descriptions.each do |des| %>
                  <li> <%= des.title %> </li>
                <% end %>
              </ol>
              <%= will_paginate @descriptions %>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="collapse multi-collapse" id="toggle4">
            <div class="card card-body">
              <% if @project.credientials.present? %>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Type</th>
                      <th>Url</th>
                      <th>Username</th>
                      <th>Email</th>
                      <th>Password</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @project.credientials.each do |c| %>
                      <tr>
                        <td><%= c.crediential_type.name %></td>
                        <td><%= c.url %></td>
                        <td><%= c.username %></td>
                        <td><%= c.email %></td>
                        <td><%= c.password %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% else %>
                <h3> No Record Found </h3>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>