<div class="right-section">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 show-bar">
      <div class="right-top-section">
        <h4> Project Details:</h4>
      </div>
      <ul>
        <div class="col-md-6 col-sm-6 col-xs-12 show-bar">
          <li> Project Name: <%= @project.title %> </li>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 show-bar">
          <li> Client Name: <%= @project.client_name %> </li>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 show-bar">
          <li> Profile: <%= @project.profile.name %> </li>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 show-bar">
          <li> Technologies: <%= @project.technologies.join(', ') %> </li>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 show-bar">
          <li> Invoice Type: <%= @project.invoice_type %> </li>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 show-bar">
          <li> Work Limit: <%= @project.work_limit %> </li>
        </div>
      </ul>
    </div>
  </div>

  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h4> Assign User: </h4>
      <%= simple_form_for @assign, remote: true do |f| %>
        <%= render partial: 'assign_form', locals: {form: f, project: @project.id}%>
        <div class="text-right">
          <%= f.submit "Save", class: 'btn btn-success save-btn' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#toggle1" role="button" aria-expanded="false" aria-controls="toggle1">Assigned User</a>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#toggle3" aria-expanded="false" aria-controls="toggle3">Descriptions</button>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#toggle4" aria-expanded="false" aria-controls="toggle4">Credentials</button>
      </p>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="collapse multi-collapse" id="toggle1">
            <div class="card card-body">
              <% if @project.assigns.present? %>
                <div class="right-top-section">
                  <h4> List of Assigned User Details:</h4>
                  <button id="myBtn" class= "btn btn-primary">+ Assign </button>
                </div>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Employee Name</th>
                      <th>Assigned As</th>
                      <th>Assigned Hrs</th>
                      <th>Working Time</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @project.assigns.each do |assign| %>
                      <tr>
                        <td><%= assign.employee&.name %></td>
                        <td><%= assign.assigned_as %></td>
                        <td><%= assign.billing_hours %></td>
                        <td><%= assign.calculate_time %></td>
                        <td>
                          <%= link_to 'Delete', assign_path(id: assign, project_id: @project), remote: true, method: :delete, data: { confirm: "Are you sure want to delete?" }, class: 'color-red' %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% else %>
                <h3> No Record Found </h3>
              <% end %>
            </div>
            <hr>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="collapse multi-collapse" id="toggle3">
            <div class="card card-body">
              <h4> Project Descriptions:</h4>
              <ol>
                <% @descriptions.each do |des| %>
                  <li> <%= des.title %> </li>
                <% end %>
              </ol>
              <%= will_paginate @descriptions %>
              <hr>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="collapse multi-collapse" id="toggle4">
            <div class="card card-body">
              <% if @project.credientials.present? %>
                <h4> Project Credentials:</h4>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Type</th>
                      <th>Url</th>
                      <th>Username</th>
                      <th>Email</th>
                      <th>Password</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @project.credientials.each do |c| %>
                      <tr>
                        <td><%= c.crediential_type.name %></td>
                        <td><%= c.url %></td>
                        <td><%= c.username %></td>
                        <td><%= c.email %></td>
                        <td><%= c.password %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <hr>
              <% else %>
                <h3> No Record Found </h3>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>