<div class="right-section">
  <div class="right-top-section">
    <h3> Project Details</h3>
  </div>
  <ul>
    <li> Project Name: <%= @project.title %> </li>
    <li> Client Name: <%= @project.client_name %> </li>
    <li> Profile: <%= @project.profile %> </li>
    <li> Work Limit: <%= @project.work_limit %> </li>
    <li> Technology: <%= @project.technology %> </li>
    <li> Invoice Type: <%= @project.invoice_type %> </li>
    <li> Status: <%= @project.status %> </li>
    <li> Description: <%= @project.active_discription %> </li>
  </ul>
</div>