<div class="right-section">
  <div class="right-top-section">
    <h3> List of Crediential-Type </h3>
    <div>
      <%= link_to 'Create', new_crediential_type_path, method: :get, class: "btn btn-primary"%>
    </div>
  </div>
  <div>
    <% if @crediential_types.present? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @crediential_types.each do |type| %>
            <tr>
              <td><%= type.name %></td>
              <td>
                <%= link_to '', crediential_type_path(type), class: 'glyphicon glyphicon-eye-open' %>
                <%= link_to '', edit_crediential_type_path(type), class: 'glyphicon glyphicon-pencil' %>
                <%= link_to '', crediential_type_path(type), remote: true, method: :delete, data: { confirm: "Are you sure want to delete?" }, class: 'glyphicon glyphicon-trash' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @crediential_types %>
    <% else %>
      <h4>Record Not Found</h4>
    <% end %>
  </div>
</div>