<div class="right-section">
  <div class="right-top-section">
    <h3 class="mt-4 d-flex justify-content-center"> List of Active Assign Projects </h3>
    <div class="pr-5">
      <%= link_to 'Create', new_assign_path, method: :get, class: "btn btn-primary float-right mb-5"%>
    </div>
  </div>
  <div class="ml-3 mr-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Project</th>
          <th>Assigned</th>
          <th>Billing Hrs</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @assigns.each do |assign| %>
          <tr>
            <td><%= assign.project&.title %></td>
            <td><%= assign.employee&.name %></td>
            <td><%= assign.billing_hours %></td>
            <td><%= assign.status %></td>
            <td>
              <%= link_to 'View', assign_path(assign) %>
        			<%= link_to 'Edit', edit_assign_path(assign) %>
        			<%= link_to 'Delete', assign_path(assign), remote: true, method: :delete, data: { confirm: "Are you sure want to delete?" }, class: 'color-red' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>