<div class="right-section">
  <div class="right-top-section">
    <h3> List of Credientials </h3>
    <div>
      <%= link_to 'Create', new_crediential_path, method: :get, class: "btn btn-primary"%>
    </div>
  </div>
  <div>
    <% if @credientials.present? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Project</th>
            <th>Crediential Type</th>
            <th>Profile</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @credientials.each do |crediential| %>
            <tr>
              <td><%= crediential.project.title %></td>
              <td><%= crediential.crediential_type.name %></td>
              <td><%= crediential.project.profile.name %></td>
              <td>
                <%= link_to '', crediential_path(crediential), class: 'glyphicon glyphicon-eye-open' %>
                <%= link_to '', edit_crediential_path(crediential), class: 'glyphicon glyphicon-pencil' %>
                <%= link_to '', crediential_path(crediential), remote: true, method: :delete, data: { confirm: "Are you sure want to delete?" }, class: 'glyphicon glyphicon-trash' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @crediential_types %>
    <% else %>
      <h4>Record Not Found</h4>
    <% end %>
  </div>
</div>