<div class="right-section">
  <div class="right-top-section">
    <h3> Crediential Details</h3>
  </div>
  <ul>
    <li> Crediential Type: <%= @crediential.crediential_type.name %> </li>
    <li> Project Name: <%= @crediential.project.title %> </li>
    <li> Profile Name: <%= @crediential.project.profile.name %> </li>
    <li> URL: <%= @crediential.url %> </li>
    <li> Username: <%= @crediential.username %> </li>
    <li> Email: <%= @crediential.email %> </li>
    <li> Password: <%= @crediential.password %> </li>
  </ul>
</div>