<div class="right-section">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 show-bar">
      <div class="right-top-section">
        <h4> Crediential Details:</h4>
      </div>
      <ul>
        <div class="col-md-6 col-sm-6 col-xs-12 show-bar">
          <li> Project Name: <%= @crediential.project.title %> </li>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 show-bar">
          <li> Crediential Type: <%= @crediential.crediential_type.name %> </li>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 show-bar">
          <li> Profile Name: <%= @crediential.project.profile.name %> </li>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 show-bar">
          <li> URL: <%= @crediential.url %> </li>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 show-bar">
          <li> Username: <%= @crediential.username %> </li>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 show-bar">
          <li> Email: <%= @crediential.email %> </li>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 show-bar">
          <li> Password: <%= @crediential.password %> </li>
        </div>
      </ul>
    </div>
  </div>
</div>