<div class="right-section">
  <div class="right-top-section">
    <h3> List of Technologies </h3>
    <div>
      <%= link_to 'Create', new_technology_path, method: :get, class: "btn btn-primary"%>
    </div>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @technologies.each do |technology| %>
          <tr>
            <td><%= technology.name %></td>
            <td>
              <%= link_to '', technology_path(technology), class: 'glyphicon glyphicon-eye-open' %>
              <%= link_to '', edit_technology_path(technology), class: 'glyphicon glyphicon-pencil' %>
              <%= link_to '', technology_path(technology), remote: true, method: :delete, data: { confirm: "Are you sure want to delete?" }, class: 'glyphicon glyphicon-trash' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @technologies %>
  </div>
</div>