<div>
  <%= render "layouts/header" %>
    <div class="main-section">
      <% if user_signed_in? %>
        <div class="sidebar">
          <ul>    
            <li><%= link_to "Dashboard", root_path %></li>

            <li><%= link_to "Technologies", technologies_path %></li>

            <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle" >Employees</a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Active", employees_path %></li>
                  <li><%= link_to "Inactive", inactive_employees_path %></li>
                </ul>
            </li>

            <li><%= link_to "Profiles", profiles_path %></li>

            <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle" >Projects</a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Active", projects_path %></li>
                  <li><%= link_to "Inactive", inactive_projects_path %></li>
                </ul>
            </li>

            <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle" >Assigned</a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Active", assigns_path %></li>
                  <li><%= link_to "Inactive", inactive_assigns_path %></li>
                </ul>
            </li>

            <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle" >Credientials</a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Crediential Type", crediential_types_path %></li>
                  <li><%= link_to "Add Crediential", inactive_assigns_path %></li>
                </ul>
            </li>

          </ul>
        </div>
      <% end %>
      <%= flash_messages %>
      <%= yield %>
    </div>
  <%= render "layouts/footer" %>
</div>