<div>
  <%= render "layouts/header" %>
    <div class="main-section">
      <% if user_signed_in? %>
        <div class="sidebar">
          <ul>
            <li><%= link_to "Dashboard", root_path %></li>
            <li><%= link_to "Active Projects", projects_path %></li>
            <li><%= link_to "Inactive Projects", inactive_projects_path %></li>
            <li><%= link_to "Active Assigned", assigns_path %></li>
            <li><%= link_to "Inactive Assigned", inactive_assigns_path %></li>
            <li><%= link_to "Employees", employees_path %></li>
            <li><%= link_to "Profiles", profiles_path %></li>
          </ul>
        </div>
      <% end %>
      <%= flash_messages %>
      <%= yield %>
    </div>
  <%= render "layouts/footer" %>
</div>