<!DOCTYPE html>
<html lang="en-US">
  <head>

    <title><%= content_for?(:title) ? yield(:title) : "Project Manager" %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.png'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "layouts/body_layout" %>
  </body>
</html>